<h1>Edit Employee</h1>
<%= form_with model: @employee do |form| %>
    <div>
      <%= form.label :name %><br>
      <%= form.text_field :name %>
    </div>
  
    <div>
      <%= form.label :position %><br>
      <%= form.text_area :position %>
    </div>
  
    <div>
      <%= form.submit %>
    </div>
<% end %>