<h1>New Employee</h1>
<%= form_with model: @employee do |form| %>
    <div>
      <%= form.label :name %><br>
      <%= form.text_field :name %>
      <% @employee.errors.full_messages_for(:name).each do |message| %> <% end %>
    </div>
  
    <div>
      <%= form.label :position %><br>
      <%= form.text_area :position %>
    </div>
  
    <div>
      <%= form.submit %>
    </div>
<% end %>


